@using atribuicaoAulas.Models
@model List<atribuicaoAulas.AULASDISPONIVEIS>
@{
    var lstAulasDisponiveis = ViewBag.lstAulasDisponiveis;
    var lstEscolas = ViewBag.lsEscolas;
    var lstDisciplinas = ViewBag.lsDisciplinas;
    var lstTipoAulas = ViewBag.lsTipoAulas;

    var CPF = ViewBag.CPF;
    var IDDISCIPLINA = ViewBag.IDDISCIPLINA;
    var IDESCOLA = ViewBag.IDESCOLA;
    var lsDescrMotivo = ViewBag.lsDescrMotivo;
}
@Html.Raw(TempData["msg"])

@if (Model != null)
{
    if (Model.Count > 0)
    {
        <div class="panel-body">
            <div class="col-lg-12 offset-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped sortable-theme-bootstrap table-link border0" data-sortable>
                        <thead>
                            <tr>
                                <th>
                                    <input id="ckTodasExcluidas" class="ckTodasExcluidas" name="nome" type="checkbox"> Todas
                                </th>
                                <th> Escola			</th>
                                <th> Disciplina		</th>
                                <th> Turno			</th>
                                <th> Tipo de Aula   </th>
                                <th> Qtde de Aulas  </th>
                                <th> Turma          </th>
                                <th> Data Cadastro  </th>
                                <th> Data Exclusão  </th>
                                <th> Usuário        </th>
                                <th> Motivo         </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        <input id="ckExcluida" class="ckExcluida" name="nome" type="checkbox" value="@Model[i].IDAULASDISPONIVEIS">
                                    </td>
                                    <td> @lstEscolas[i]                     </td>
                                    <td> @lstDisciplinas[i]                 </td>
                                    <td> @(lstAulasDisponiveis[i].IDTURNO == 1 ? "Manhã" : lstAulasDisponiveis[i].IDTURNO == 2 ? "Tarde" : "Noite") </td>
                                    <td> @lstTipoAulas[i]                   </td>
                                    <td> @lstAulasDisponiveis[i].QTDEAULAS  </td>
                                    <td> @lstAulasDisponiveis[i].TURMA      </td>
                                    <td> @Model[i].DTCADASTRO				</td>
                                    <td> @Model[i].DTALTERACAO				</td>
                                    <td> @Model[i].CPFALTERACAO				</td>
                                    @*<td> @Model[i].idMotivoExclusao			</td>*@
                                    <td> @lsDescrMotivo[i]                  </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Exportar para Excel", "ExportExcelAulasAtribuidas", "aulasDisponiveis", new { CPF = ViewBag.CPF, IDDISCIPLINA = ViewBag.IDDISCIPLINA, IDESCOLA = ViewBag.IDESCOLA }, new { @class = "btn btn-primary btn-large" })
            <td>@Html.ActionLink("Apagar Definitivamente", null, null, null, new { @class = "btn btn-danger  mobilebtn", @onclick = "ConfirmaExcluirSelecionados(); return false;" })    </td>&nbsp;&nbsp;
        </div>

                <div class="modal fade" id="myModalConfirmaExcluirSelecionados">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h3 class="modal-title">Excluir Definitivamente</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Deseja excluir definitivamente? </h4>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Sair</a>
                                <a href="#" class="btn btn-success" onclick="ExcluirSelecionados()">Excluir definitivamente</a>
                            </div>
                        </div>
                    </div>
                </div>

    }
    else
    {
        <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
            </button>
            <span class="bold"> Nenhum registro encontrado. </span>
        </div>
    }
}

<script>
    var arrExcluidas = new Array();

    $('.ckTodasExcluidas').click(function () {
        $('input:checkbox').prop('checked', this.checked);
    });

    function ConfirmaExcluirSelecionados() {
        $('input.ckExcluida:checkbox:checked').each(function () { arrExcluidas.push(this.value); });

        if (arrExcluidas.length == 0) { alert("Selecione ao menos um aula!"); return; }

        $("#myModalConfirmaExcluirSelecionados").modal('show');
    }

    function ExcluirSelecionados() {
        arrExcluidas.length = 0;
        $('input.ckExcluida:checkbox:checked').each(function () { arrExcluidas.push(this.value); });

        $.ajax({
            type: "POST",
            url: "/aulasDisponiveis/ExcluirDefinitivamente",
            data: { arrExcluidas: arrExcluidas },
            dataType: "json",
            success: function (result) {
                alert("Operação realizada com sucesso!");
                window.location.href = "/aulasDisponiveis/relAulasAtribuidas";
            }
        });
    }

</script>
