@model atribuicaoAulas.BancoDeDados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BancoDeDados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Select)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Select)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insert)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
