@model IEnumerable<atribuicaoAulas.Disciplina>

@Html.Hidden("id", "", new { @class = "hiddenid" })
<div class="panel panel-default ">
	<!-- Topo -->
	<div class="panel-heading">
		<h2>Disciplinas</h2>
		<span class="tools pull-right">  </span>
	</div>
	<div class="panel-body">
		<div class="col-lg-12 offset-0">
			<!-- table responsive -->
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped sortable-theme-bootstrap table-link border0" data-sortable>
					<thead>
						<tr>
							<th>
								Disciplina
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.ActionLink(item.descrDisciplina, "Edit", new { id = item.IdDisciplina })
								</td>

								@if (Session["usuarioLogado"] != null && ((atribuicaoAulas.ACESSO)(Session["usuarioLogado"])).IDPERFIL == 1)
								{
									<td>
										<a href="#" onclick="ConfirmDelete(@item.IdDisciplina)">Excluir</a>
									</td>
								}

							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	@if (Session["usuarioLogado"] != null)
	{
		<table>
			<tr>
				<td>
					<p> <a href="/Disciplina/Create" style="visibility:visible" title="Disciplinas" class="btn btn-primary btn-large">Nova</a></p>
				</td>
				<td style="width:10px"></td>
				@*<td>
					<p> <a href="/Account/Sair" style="visibility:visible" title="Sair" class="btn btn-primary btn-large">Sair</a></p>
				</td>*@
			</tr>
		</table>
	}
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title">Excluir</h3>
				</div>
				<div class="modal-body">
					<h4>Deseja excluir o registro? </h4>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
					<a href="#" class="btn btn-success" onclick="DeleteRegister()">Excluir</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModalErro">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title">Erro de Exclusão!</h3>
				</div>
				<div class="modal-body">
					<h4>O registro não pôde ser excluído. Existem aulas vinculadas a ele.  </h4>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-warning" data-dismiss="modal">OK</a>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="hiddenIdDisciplina" />
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
	var ConfirmDelete = function (IdDisciplina) {
		$("#hiddenIdDisciplina").val(IdDisciplina);
		$("#myModal").modal('show');
	}

	var DeleteRegister = function () {
		var id = $("#hiddenIdDisciplina").val();
		$.ajax({
			type: "POST",
			url: "/Disciplina/DeleteConfirmed",
			data: { id: id },
			dataType: "json",
			success: function (result) {
				if (result == false) {
					$("#myModal").modal("hide");
					$("#myModalErro").modal("show");
				}
				else {
					$("#myModal").modal("hide");
					window.location.href = "/Disciplina/Index";
				}
			}
		});
	}
</script>
