@model atribuicaoAulas.Escola
@{
    ViewBag.Title = "EditView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Escola"))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default ">
        <!-- Topo -->
        <div class="panel-heading">
            <h2>Escolas </h2>
            <span class="tools pull-right"></span>
        </div>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdEscola)
            <div class="form-group">
                @Html.Label("Escola", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.descrEscola, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descrEscola, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IdMunicipio, "Município", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("IdMunicipio", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdMunicipio, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.Excluido)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-primary btn-large" />
                    @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </div>
    </div>
}      